extends layout

block content
    if(snowday == 'Yes!' || snowday == 'Epic!')
      canvas#canvas

    .content
        h1 #{ snowday }
        if(snowday=='No')
          h2(style="color:#FFFFFF") #{ message }
        else
          h2 #{ message }
          
    audio#audio(autoplay='')
      source(src='music/#{music}', type='audio/mp3')
