extends layout

block content
    h1 Draco or Kim?

    .content
      div(class="btngroup")
        a(href='#openModal')
          button(class="btn", onclick="dracoOrKim('draco')").
            Draco
        a(href='#openModal')
          button(class ="btn", onclick="dracoOrKim('kim')").
            Kim
      #openModal.modalDialog
        div
          #correct
            h2 Correct!
            img(src="#{correct}")
          #incorrect
            h2 Incorrect!
            img(src="#{incorrect}")

          a(href="/")
            button(class="btn").
              Play again!
